#disableOwnerWrap
	span.fa.fa-close.closeDisableOwner#closePos

	h2 删除

	br
	br

	span 您确定要删除该用户吗?

	br
	br

	span 他们拥有的精灵也将会被删除掉。

	br
	br

	button.closeDisableOwner(style="float:left;") No
	span &nbsp;&nbsp;
	button(style="float:right;")#removeOwner Yes