#txStoryPanel

	span.fa.fa-close.closeTxStory#closeTxStoryPos

	//----------------- Step 1 Content
	.txStepWrap#txStep1.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend 创建虚拟物品
		.txStoryWrap
			.marbleWrap
				div.ball#proposeMarbleStable.hideBorders.leftPos(title="你的精灵球")
				div.ball#proposeMarble.hideBorders.leftPos
				div.ball#marbleBorderTop.leftPos
				div.ball#marbleBorderBottom.leftPos
				div.ball#marbleBorderLeft.leftPos
				div.ball#marbleBorderRight.leftPos
		.txDescription
			span 该调用需要被签名及打包为被编码为特定格式的协议，
			span 这是在区块链精灵应用创建的。 

	//----------------- Step 2 Content
	.txStepWrap#txStep2.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend 点对点网络
		.txStoryWrap 
			.marbleWrap
				div.ball#endorseMarbleStable(title="你的精灵球")
					span.fa.fa-check
				div.ball#endorseMarble
					span.fa.fa-check
		.txDescription
			span 我们收集的虚拟物品发送给我们的点对点区块链网络进行记录，
			span 该节点将会模拟交易、验证有效性，然后进行签名打包，再送会采集器。

	//----------------- Step 3 Content
	.txStepWrap#txStep3.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend 采集器
		.txStoryWrap
			#orderBoxStable 
				span.ball.ordererMarbles.hideMe(title="其他人精灵球")
					span.fa.fa-check
				span.ball.ordererMarbles.hideMe(title="你的精灵球")
					span.fa.fa-check
				span.ball.ordererMarbles.hideMe(title="其他人虚拟物品")
					span.fa.fa-check
				#orderBox 区块
		.txDescription
			span 采集器归集了所有收集到的包括精灵球在内的虚拟物品，进行排序成区块。

	//----------------- Step 4 Content
	.txStepWrap#txStep4.inactiveStep
		.txStatusWrap
			.txStatus
		.txLegend 验证 & 提交
		.txStoryWrap 
			#commitBoxStable(title="Block")
				span.fa.fa-search
		.txDescription
			span 这个区块包含采集器涵盖的所有的虚拟物品，
			span 通过被分散节点进行验证通过后，再提交到节点进行永久记录。

	div
		.hint * 为了演示目的，这个过程将被减慢执行。
	#txStoryErrorWrap 
		span.fa.fa-warning(style="fill: #000;")
		span#txStoryErrorTxt &nbsp;

	//----------------- All done
	.stepHelpWrap#doneTxStep
		h2 调用完成
		br
		br
		button(type="button").closeTxStory 关闭